* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	margin: 0;
	padding: 20px 0;
	font-family: 'Kotta One', georgia, serif;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 0 1px 0 rgba(255,255,255,0.1);
}

.container {
	max-width: 500px;
	margin: 0 auto;
}

.center {
	text-align: center;
}

.transition {
	-o-transition: all .2s;
	-ms-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
}

h1 {
	font-family: 'Iceberg', 'helvetica neue', sans-serif;
	color: #f7f7f7;
	font-size: 82px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 2px;
	background: rgba(51, 51, 51, 0.9);
	padding: 0 20px;
	margin: 20px 0;
}

a { text-decoration: none; }

b { font-weight: bold; }

input {
	font-family: 'Kotta One', monospace;
	font-size: 22px;
	color: #333;
	background: rgba(247,247,247, 0.7);
	border: none;
	border-radius: 2px;
}
input:focus {
	outline: none;
}
input:hover, input:focus {
	background: rgba(247,247,247, 0.9);
}
.unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

.horizontal, .horizontal li{
	display: inline-block;
}

.full {
	width: 100%;
	max-width: 500px;
	padding: 10px;
	margin-bottom: 10px;
}

.inset {
	-webkit-box-shadow: inset 0 2px 2px -2px rgba(0,0,0, 0.6);
	box-shadow: inset 0 2px 2px -2px rgba(0,0,0, 0.6);
	border-top: 1px solid rgba(0, 0, 0, 0.4);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.note {
	font-size: 14px;
}

.madeBy {
	color: rgba(0,0,0,0.8);
	text-decoration: none;
	margin-top: 60px;
	display: inline-block;
}
.madeBy:hover .standout, .standout:hover {
	border-bottom: 1px solid #111;
}

.standout {
	color: #111;
	border-bottom: 1px dashed #111;
	padding-bottom: 2px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	h1 { font-size: 46px; border-radius: 0; }
	.full {
		width: 96%;
		margin: 2%;
	}
	.madeBy { margin-left: 2%; }
	.notMobile { display: none; }
}